<h1>Congratulations !! Your booking is created with Booking Id- <%=@booking.id %></h1>
<h2>Booking Details</h2>
<p>Booking Id: <%=@booking.id%></p>
<p>Checkin: <%=@booking.checkin%></p>
<p>Checkout: <%=@booking.checkout%></p>
<p>Number of adults: <%=@booking.numofadults%></p>
<p>Number of Children: <%=@booking.numofchild%></p>
<p>Special Concern: <%=@booking.specialconcern%></p>

<h3>Our Guests Details: </h3>
<% @guests.each do |guest| %>
  <p><strong>Guest Id:</strong> <%= guest.id %></p>
  <p><strong>Name:</strong> <%= guest.name %></p>
  <p><strong>Phone Number:</strong> <%= guest.phonenumber %></p>
<%end%>