<%= stylesheet_link_tag "custom" %>
<header class="header">
<h1 class="first-h1">Welcome to the portal <%= @user.username %> </h1>
<p class="first-p">
  <% if !admin? %>
  <%= link_to "Feedback",feedbacks_path%>
  <% end %>
</p>
</header>
<%if !admin?%>
<h2 class="first-h2">You are just few clicks away to get a 5 star experience with us!</h2>
<p class="second-p">Let's get started"</p>
<h1>Let's Checkout Hotels Available for your service!</h1>
<h1><%= link_to "Click Here", listhotels_path%></h1>
<%#<li ><a href="search.html">Search Hotel By Name</a></li>%>
<%#<li><a href="select.html">Select Hotel By Id</a></li>%>
<%end%>

<%if admin?%>
<h2 class="first-h1">Manage Your site with ease:</h2>
<ul>
<h3><li><%= link_to "Hotels", listhotels_path%></li></h3>
<h3><li><%= link_to "Roomtypes", listroomtypes_path%></li></h3>
<h3><li><%= link_to "Rooms", listhotels_path%></li></h3>
</ul>
<% end %>