<% if @allocated_room.present? %>
<h2>Your Room Details are as below:</h2>
<p>Occupancy: <%=@allocated_room.occupancy%></p>
<p>Status: <%=@allocated_room.status%></p>
<p>Facilities: <%=@allocated_room.hotel_id%></p>
<%= link_to "Proceed for Booking", addguestandbooking_path(hotel_id: @allocated_room.hotel_id,room_id: @allocated_room.id)%><br>
<% else %>
<header class="header">
<p>Sorry for the inconvenience! No Rooms for the selected type, Please choose another or try again later!!</p>
</header>
<%= link_to "Try Again", listhotels_path%>
<br>
<% end %>