<!DOCTYPE html>
<html>
  <head>
    <title>RailsRubyProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=>true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track'=> true%>
  </head>

  <body>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%#= debug(params) if Rails.env.development? %>
    </div>
    <%#= yield %>
    <%# <p class="notice"><%= notice %><%#/p> %>
    <%# <p class="alert"><%= alert %><%#/p> %>
  </body>
</html>
