<!DOCTYPE html>
<html>
  <head>
    <title>RailsRubyProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=>true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track'=> true%>
  </head>

  <body>
  <% if !current_user.nil?%>
  <%= render 'shared/navbar'%>
  <% end %>
    <div class = "container">
      <%= yield %>
    </div>
  </body>
</html>
